AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=
AWS_REGION=us-east-2
AWS_BUCKET_NAME=
AWS_PRIVATE_BUCKET_NAME=

AWS_REDIS_PASSWORD=

SKING_TOOLKIT_ROOT=/root/SkingToolkit
SKING_ROOT_DIR=/root/Sking
DMR_ROOT_DIR=/root/differentiable_minecraft_renderer
DENSE_UV_DEVICE=cuda
GPU_WORKER_QUEUE=queue_render_to_uv

GENERATE_RESULT_QUEUE_KEY=generate_results
